.form-container {

    padding: 20px; /* Espacio interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #fff; /* Fondo blanco */
}

.bg-primary-custom {
    background-color: #0d6efd; /* Example primary color, adjust as needed */
}
.navbar-brand img {
    max-height: 40px; /* Adjust the max height to fit the navbar */
    width: auto; /* Maintain aspect ratio */
}
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Adjust the size as needed */
  }